.report {
    border: solid;
    box-shadow: 0 0 5px black;
    border-radius:10px;
    padding: 10px 15px;
    font-size: large;
    margin: 10px;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

main{
    margin-left: 15pt;
    margin-right:15pt;
}
.report_container{
    display: flex;
    flex-direction: column-reverse;
}
h1{
    padding: 10px 15px;
}

body {
    background-image: url('img/back.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
li{
    font-size: large;
}
.act_text{
    font-size: 17px;
}

.columns {
    display: flex; 
    justify-content: space-between; 
}

.column {
    flex-basis: 48%; 
}

.faq_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.user_info img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.user_info p {
    margin: 0;
}

footer {
    text-align: center;
}

.foote_text {
    font-weight: bold; 
}
